nav a {
  color: white;
  font-size: 160%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
    background-color: #e6e6e6;
}
nav {
  background-color: #999999;
}
nav a:hover {
  background-color: #125;
}

