nav a {
  color: white;
  font-size: 160%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
}
body {
    background-image: url("notebook-paper-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    
}
nav {
  background-color: #999999;
}
nav a:hover {
  background-color: #125;
}



